.header{
    position: relative;
    top: 3rem;
    background-size:100% 100%;
    background-image: url("/assets/bg_mobile/bg-1.png");
}

.contenedor{
    background-image: url("/assets/bg_mobile/bg-1.png");
}

.fontS{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif
}

.fontF{
      /* standard gradient background */
      background: linear-gradient(90deg, rgba(251,202,0,1) 27%, rgba(247,226,96,1) 35%, rgba(198,168,29,1) 68%);
  /* clip informático */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 1.4rem;
    margin-top: .9rem;
    font-style: italic;
    font-family: 'Libre Baskerville', serif;
}
.title_claret{
    max-width: 336px;
}
.images_header{
margin: auto;
width: 95%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 1.5rem;
}
.date_and_phrase{
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1.5rem;
   }
@media screen and (min-width:700px) {
    .header{
        background-image: url("/assets/bg_desktop/background_desktop_1.png");
    }
    .contenedor{
        background-image: url("/assets/bg_desktop/background_desktop_1.png");
    }
    .images_header{
        gap: 3rem;
        padding-top: 2rem;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .title_claret{
        max-width: 400px;
    }
    .shield_claret{
        max-width: 230px;
    }
   .date_and_phrase{
    display: flex;
    gap: .8rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   }
}