*{
    font-family: 'Libre Baskerville', serif;
}
.carousel{
    margin: auto;
    margin-top: 2rem;
    padding-bottom: 3rem;
}

.card{
width: 100%;
display: flex;
flex-direction: column;
align-content: center;
align-items: center;
justify-content: center;
border-radius:1.5%;
background: #252851;
padding:2rem;
}
.card_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card h4{
    background: linear-gradient(90deg, rgba(251,202,0,1) 27%, rgba(247,226,96,1) 35%, rgba(198,168,29,1) 68%);
    /* clip informático */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}
.card_img{
    padding-bottom: 1rem;
    width: 180px;
    height: 180Px;
}

.card p{
    color: white;
    padding-bottom: .5rem;
}
.description_p{
    font-family: 'Montserrat',sans-serif;
    text-align: justify;
    font-weight: 100;
    font-size: .85rem;
    margin-bottom: .5rem;
}
.card_subject{
    font-size: 1rem;
    text-align: center;
    background: linear-gradient(90deg, rgba(251,202,0,1) 27%, rgba(247,226,96,1) 35%, rgba(198,168,29,1) 68%);
    /* clip informático */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
}

.card ul{
    font-size: 0.75rem;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: start;
    gap: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card ul li{
font-family: 'Montserrat',sans-serif;
text-align: center;
font-weight: 900;
}

.card_phrase{
    line-height: 1.3rem;
    background: linear-gradient(90deg, rgba(251,202,0,1) 27%, rgba(247,226,96,1) 35%, rgba(198,168,29,1) 68%);
    /* clip informático */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: .7rem;
    text-align: center;
    margin-top: .5rem;
}
.botton_descarga{
    background-color: transparent;
    background-color:hsla(146, 90%, 23%, 0.795);;
    padding: .5rem;
    margin: auto;
    margin-top: 3rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    border: transparent;
    
    transition: all .2s;
}
.botton_descarga a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat',sans-serif;
}
@media screen and (min-width:700px) {
    .botton_descarga{
        background-color: transparent;
        background-color:hsla(146, 90%, 23%, 0.219);;
        padding: .5rem;
        margin: auto;
        width: 12rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3%;
        border: transparent;
        
        transition: all .2s;
    }
    .botton_descarga:hover{
        background-color:hsl(146, 90%, 23%);;
    }
    .card_phrase{
        line-height: 1.5rem;
        font-size: 1rem;
        margin-top: .7rem;
    }
    .description_p{
        margin-bottom: 0rem;
    }
    .carousel{
       margin-top: 0rem;
    }
    .carousel_principal{
        margin: auto;
        width: 100%;
        max-width: 80rem;
    }
    .card{
        height: 100%;
        background-color: transparent;
        max-width: 60rem;
    }
    .card_subject{
        font-size: 1.3rem;
    }
    .card h4{
        font-size: 2rem;
    }
    .card_info{
        gap: 1.2rem;
        flex-direction: row;
    }
    .card_img{
      bottom: 3.5rem;
      margin-right: 1rem;
      position: relative;
      width: 200px;
      height: 200px;
    }
    .card_info p{
        font-size: .9rem;
    }
    .card ul{
        position: relative;
        padding-top: 1rem;
        gap: 1rem;
        flex-direction: row;
    }
}

